<div class='nested-fields'>
  <%= f.input :answer %>
  <%= f.input :input %>
  <%= f.input :output %>
  <%= link_to_remove_association 'Remove Solution', f, class: 'btn-small btn-outline-secondary' %>
</div>
