<h2>Reset Your Password</h2>
<h3>To reset your password, please insert your email</h3>
<%= simple_form_for @user do |f| %>
  <div>
    <%= f.input :email %>
    <%= f.submit "Reset Your Password", class: "btn btn-primary" %>
  </div>
