<div class="container">
  <div>
    <h2 class="label">Reset Your Password</h2>
    <h3 class="label">To reset your password, please insert your email</h3>
  </div>

  <%= form_for  do |f| %>
  <div>
    <div class="form-group label">
      <div class="form">
        <%= f.email_field :email, class: 'form-control input forgot_password_form' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Reset Your Password", class: " btn-lg submit"%>
    </div>
  </div>
<% end %>
</div>
