<h1> Hey, <%= @user.full_name %> </h1>

<p>
  No Password, No Problem. Check out the link below.
</p>


<%= link_to(
  'Password Reset: ',
   edit_password_reset_url(@user)) %>

   <p> Cheers,</p>

   <p> Drill Ninja Team </p>
