/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "main";
@import "users";
.home-page > * {
  display: flex;
  justify-content: center;
}
@font-face {
	font-family: 'ninja';
	src:url('fonts/njnaruto.ttf');
  font-weight: normal;
	font-style: normal;
}

body {

}
.navbar {
  font-family:  sans-serif;
  background-color: lightskyblue;
}
.text {
font-size: 18px;
font-weight: bold;
}
#ninja-nav {
  font-family: ninja;
}

#title {
  font-family: ninja;
}

#gears {
  text-align: right;
}
.small-gear {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  position: absolute;
  animation-name: small-rotate;
  animation-duration: 33s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.big-gear {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin-left: 105px;
  margin-top:47px;
  animation-name: big-rotate;
  animation-duration: 33s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.ninja-logo{
  margin-left: 70px
}
@keyframes big-rotate {
  from {
    transform: rotate(18deg);
  }

  to {
    transform: rotate(378deg);
  }
}

@keyframes small-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.enter-button {
  text-align: center;
}


.drill_group_tabs {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 90vh;
  align: center;
}

.tab-content {
  border-bottom: 0.5px solid #e6e6e6;
  border-left: 0.5px solid #e6e6e6;
  border-right: 0.5px solid #e6e6e6;
  height: 75vh;
  overflow-y: scroll;

}
.tabs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.get-drilling {
  text-align: center;
  opacity: 0.5;
  margin-top: 50px;
}

.radio > *:not(:last-child) {
  margin-right: 70px;
}

.collection_radio_buttons {
  margin-left: 10px;
}

.drill-question {
  border: 4px lightskyblue solid;
  margin-bottom: 7px;
  padding: 10px 0 10px 0;
  border-radius: 5px;
}

#user-points {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: .5rem .75rem;
  width: fit-content;
  margin: 0 auto;
  background-color: lightgrey;
}

.flash-message {
  padding: 8px;
  color: darkolivegreen;
  background-color: palegreen;
  border-radius: 5px;
}

.has-error .help-block {
  color: red;
}
